:root{
    --primario :#9c27b0;
    --primarioObscuro:#89119d;
    --secundario:#ffce00;
    --secundarioObscuro:rgb(233,287,2);
    --blanco:#fff;
    --negro:#000;
    --fuentePrincipal: 'Staatliches', cursive;
}


/* setari globale (trebuie utilizate in orice proiect) */
html{
    font-size: 62.5%;
   box-sizing: border-box;  
}
/* asa specificam ca toate boxsizingurile divurilor noastre sa fie inherit(asa nu o sa afecteze pading
margin etc) */
*, *::before, *::after{
    box-sizing: inherit;
    }

body{
background-color: var(--primario);
font-size: 16rem;
line-height: 1.5;
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
  max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h2{
   text-align: center;
   color: var(--secundario);
   font-family: var(--fuentePrincipal); 
}
h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.rem;
}

/* header */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo{
margin: 2rem 0;
}

/* navegacion */

.navegacion {
    background-color: var(--primarioObscuro);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    /* asa  despartim cele doua enlace din nav */
    gap: 2rem;
}
.navegacion__enlace{
font-family: var(--fuentePrincipal);
color: var(--blanco);
font-size: 3rem;
}

/* asa scote margin la toate elementele care vin dupa primu  daca nu a folosi gap*/
/* .navegacion__enlace:last-of-type{
margin-right: 0;
} */
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--secundario);
}

/* grid */

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
@media(min-width: 768px){
    .grid{
        grid-template-columns: repeat(3,1fr);
    }  
}
/* productos */

.producto{
background-color: var(--primarioObscuro);
padding: 1rem;
}

.producto__imagen{
width: 100%;
}
.producto__informacion{

}

.producto__nombre{
    font-size: 4rem;
}

.producto__precio{
    font-size: 2.8rem;
color: var(--secundario);
}
.producto__nombre,.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
}
/* footer */

.footer{
    background-color: var(--primarioObscuro);
    padding: 1rem 0;
    margin-top: 2rem;

}

.footer__texto{
    font-family: var(--fuentePrincipal);
font-size: 3rem;
color: var(--blanco);
text-align: center;
line-height: 1.2;
text-transform: uppercase;
}

