/* asa creem variable de css customs */
/*color: var(--blanco);   asa accesam variabile create in css  */
:root{
    --blanco:#ffffff;
    --obscuro:#212121;
    --primario :#ffc017;
    --secundario:#0097a7;
    --gris:#757575;
}



/* setam ca default proprietatile pagini si al body pentru a putea utiliza rem 1rem=10px */

html{
    font-size: 62.5%;
    
}
/* asa specificam ca toate boxsizingurile divurilor nastrea sa fie inherit(asa nu o sa afecteze pading
margin etc) */
*, *::before, *::after{
box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;

}

h1{
    font-size: 3.8rem;    /*1rem=10px */

}
h2{
    font-size: 2.8rem;    /*1rem=10px */

}
h3{
    font-size: 1.8rem;    /*1rem=10px */


}
h1 h2 h3{
    text-align: center;
}


/* pentru ca aici am especificat mai complet, se va aplica culuare la span  ,si nu cuoare de la titulo span
h1.titulo span{

    font-size: 2rem;
    color: red;
} */

/* asa aplicam proprietatea doar la un span care este fiu de clasa titulo */
.titulo span{
font-size: 2rem;
}

/* nav css */


/* facem clasa container pentru a centra tot ce avem in interior */
.contenedor{
    /* asa specificam sa ia width de 1200pxdaca este disponibil dacanu sa ia maximu disponibil */
   max-width: 120rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;

}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
@media(min-width: 716px){
.boton{
    width: auto;
}    
}
.nav-bg{
    background-color: var(--secundario);

}
.navegacion-principal{
    display: flex;
    flex-direction: column;
       /* pentru a alinia iteme cand sunt situate in columna utilizam align items */
       align-items: center;
    
}

/* queriuri  480px pentru telefon ,768px pentru tableta,1140px pentru pc sau 1400px */
@media(min-width: 768px){
   .navegacion-principal{
    justify-content: space-around;

    flex-direction: row;
   } 
}
.navegacion-principal a{
    /* facand a sa ocupe tot row lui putem centra textu dupa */
    display: block;
    text-align: center;
    color: var(--blanco);
    padding: 1rem;

    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}


.navegacion-principal a:hover{
    color: var(--obscuro);
    background-color: var(--primario);
}

.hero{
    background-image: url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    /* pentru ca divu cu pozitia absolute sa ocupe tot width si  higth parintelui facem asa width:100%
    heigth 100% sau cum am facut mai jos */
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);

    /* sau asa     background-color: rgb(0 0 0 70%); */


    /* aici incercam sa facem ca tot continutu sa fie asezat in mijloc */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2 ,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion{
    display: flex;

    /* asa alineem in partea de jos */
    align-items: flex-end;
}