@use 'base/mixins' as m;
@use 'base/variables' as v;


.boletos{
background-color: v.$verde;
padding: 5rem 0;

h3{
    text-align: center;
    color: v.$blanco;
    margin-bottom: 2rem;
}

.contendor-boletos{
    @include m.tablet {
        @include m.grid (2 ,5rem)
            
        
    }
}
}


.pase{
    .nombre-pase{
        text-align: center;
        font-size: 2.4rem;
        color: v.$blanco;
    }
//asa adaugam pase in fata la header
&-header,
&-footer{
    padding: .5rem;
 
 p{   text-align: center;
    color: v.$blanco;
    margin: 0;
 }
}
    &-header{
background-color: v.$rosa;
    }

    &-body{
background-color: v.$blanco;
p{
    text-transform: uppercase;
    font-size: 1.6rem;
}
ul{
    @include m.resetear-lista ;
  
    li,
    :nth-child(odd)
    {
background-color: v.$blanco;
padding: 1rem;
border-bottom: 1px solid #e1e1e1;
    }     
    
}
    }
    &-footer{
background-color: v.$morado;
p{
    font-size: 2.4rem;
    margin: 0;
    font-weight: 700;
}
    }
}

